{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<div class="container">
  <h1>ddd</h1>
  <div class="row g-3">
    {% for post in posts %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        {% if post.image %}

        <img class="card-img-top img-responsive w-100 bg-dark" src="{{post.image.url}}"alt="{{post.title}}"/>

        {% else %}
        <img
          class="card-img-top"
          src="{% static 'photos/noimage.jpg' %}"
          alt="{{post.title}}"
        />
        {% endif %}
        <div class="card-body bg-dark p-4 text-white">
          <h5 class="card-title entry-title h4 mb-0">{{post.title}}</h5>
          <p class="card-text entry-summary text-secondary">
            {{post.publish|truncatechars:20|safe}}
          </p>
          <div class="d-flex justify-content-between align-items-end">
            <a
              class="stretched-link btn btn-outline-primary"
              href="{% url 'post_detail' post.slug %}"
              >Read More</a
            >
            <h7 class="card-text entry-summary text-secondary text-white"
              >{{post.date}}</h7
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
