{% extends 'layouts/base.html' %} {% block content %}

<div class="container">
    <div class="row justify-content-center"> 
        <div class="col">
            <h3>Hello</h3>
        </div>
        <div class="col-8">
            {% for post in posts %}
            <h2>{{post.title}}</h2>
            <p class="mb-5" >{{post.date}}</p>
            <img src="{{post.image.url}}" alt="{{post.title}}" class="mb-5"/>
            <br>
            {{post.publish|linebreaksbr}}
            <!-- linebreaksbr and linebreaks is for jump line -->
            <!-- to remind django filter -->
            {% endfor %}
        </div>
        <div class="col">
            <h3>Goodbye</h3>
        </div>
    </div>
</div>
{% endblock %}
