img {
    display: block;
    margin: auto;
}

h1 {
    color: red;
}

.my-back {
    box-sizing:border-box;
    width: 1920px;
    height: auto;
}

.bg {
    color: aliceblue;
    background-color: gray;
}