<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
          <a class="nav-link active" href="#">Portfolio</a>
          <a class="nav-link active" href="#">Pricing</a>
          <a class="nav-link  active">More</a>
        </div>
      </div>
          <div class="d-flex">
            <div class="navbar-nav">
              <a class="nav-link active" href="#">Pricing</a>
              <a class="nav-link  active">Disabled</a>
            </div>
          </div>
      </nav>
    </div>
  </nav>